.photo {
  height: 125px;
  position: relative; 
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

body {
  background-color: #060606;
  font-family: sans-serif;
  color: white;
}

#navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative; /* Add relative positioning */
}

#navbar a::after {
  content: '';
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #4e6cf3; /* Set underline color */
  transition: width 0.3s, left 0.3s; /* Add transition for animation */
  transform: translateX(-50%);
}

#navbar a:hover::after {
  width: calc(100% - 40px); /* Expand width on hover */
  left: 20px; /* Start from middle */
}

#navbar a:nth-child(2)::after {
  background-color: #ff6f61; /* Change underline color for second link */
}

#navbar a:nth-child(3)::after {
  background-color: #ffd166; /* Change underline color for third link */
}

#navbar a:nth-child(4)::after {
  background-color: #06d6a0; /* Change underline color for fourth link */
}

#navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed; 
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.slash {
  color: #4e6cf3;
}

.intro p {
  font-size: 1.1rem;
  color: #504f55;
  font-weight: 700;
}

.intro h1 {
  font-size: 2.5rem;
  text-shadow: 1cm 1cm 1cm black;
}

.reach-out-button {
  background-color: #333A73;
  color: #ddd3d3;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.reach-out-container {
  text-align: center;
  margin-top: 20px; 
}

.reach-out-button:hover {
  background-color: #4e6cf3;
  color: #fff;
  transition: 0.3s;
  font-size: 20px;
}

.heading {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
  color: #ddd3d3;
}

.logo{
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: inline
  
}

#github .logo {
  width: 100px;
  height: 100px;

}

.social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

#github img {
 transform: translateX(18px);
}