.photo {
   
    height: 125px;
    position: relative; 
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    
}

body{
  background-color: #060606;
  font-family: sans-serif;
  }

#navbar a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    float: inline;   
    top: 0;
    font-size: 1.5rem;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1cm 1cm 1cm black;
    
}

#navbar {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   position: fixed; 
   top: 0%;
   left: 50%;
   transform: translateX(-50%);
   
    
}