
body {
  background-color: #000000; 
  font-family: sans-serif;
  color: white;
  overflow-x: hidden;
}


*{
  box-sizing: border-box;
}

.photo {
  height: 125px;
  position: relative; 
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

#navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  font-size: 1.5rem;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative; /* Add relative positioning */
}

#navbar a::after {
  content: '';
  position: absolute;
  left: 25%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #4e6cf3; /* Set underline color */
  /* background-image: linear-gradient(#ff6363 -100%, #6933ff); */
  transition: width 0.3s, left 0.3s; /* Add transition for animation */
  transform: translateX(-50%);
}

#navbar a:hover::after {
  width: calc(100% - 40px); /* Expand width on hover */
  left: 20px; /* Start from middle */
}

#navbar a:nth-child(2)::after {
  background-color: #ff6f61; /* Change underline color for second link */
  /* background-image: linear-gradient(#ff6363 -100%, #6933ff); */
}

#navbar a:nth-child(3)::after {
  background-color: #ffd166; /* Change underline color for third link */
  /* background-image: linear-gradient(#ff6363 -100%, #6933ff); */
}

#navbar a:nth-child(4)::after {
  background-color: #06d6a0; /* Change underline color for fourth link */
  /* background-image: linear-gradient(#ff6363 -100%, #6933ff); */
}

#navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed; 
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

#navbar a.active {
  color: #ff6600; 
  font-weight: bold; 
}


.slash {
  color: #4e6cf3;
}

.intro p {
  font-size: 1.1rem;
  color: #504f55;
  font-weight: 700;
}

.intro h1 {
  font-size: 2.5rem;
  text-shadow: 1cm 1cm 1cm black;
}

.reach-out-button {
  background-color: #333A73;
  color: #ddd3d3;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.reach-out-container {
  text-align: center;
  margin-top: 20px; 
}

.reach-out-button:hover {
  background-color: #4e6cf3;
  color: #fff;
  transition: 0.3s;
  font-size: 20px;
}

.heading {
  text-align: center;
  margin-top: 30px;
  font-size: 1.5rem;
  color: #ddd3d3;
  margin-bottom: 50px;
}

.logo{
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: inline
  
}

#github .logo {
  width: 100px;
  height: 100px;

}

.social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

#github img {
 transform: translateX(18px);
}

a {
  text-decoration: none;
  color: inherit;
  text-align: left;
  
  
}

.social img{
  display: block;
  margin: 0 auto;
  
}

.social h2{
  text-align: left;
}

.contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  transform: translateX(-100px);

}

.contact-left{
  display:flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.contact-left-title h2{
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #ff6363, #6933ff);
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent;
  

}

.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left:25px;
  font-weight: 600;
  border-radius: 30px;
  background-color: #ffffff;
  
}

.contact-left textarea{
  height: 120px;
  padding-top: 15px;
  border-radius: 25px;
}

.input-container textarea{
  margin-bottom: 20px;
}

.contact-inputs:focus{
  border: 3px solid #ed7627;
  transition: 0.01s;
}

.contact-inputs::placeholder{
  font-weight: 600;
  color: #d9a9a9;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 35px;
  background: linear-gradient(90deg, #333A73 0%, #4e6cf3 100%);
}

.contact-left button:hover{
  background: linear-gradient(90deg, #4e6cf3 0%, #333A73 100%);
  color: #fff;
  transition: 0.3s;
}

.contact-left button:focus{
  outline: none;
}

.contact-left button img{
  width: 20px;
  height: 20px;
  transform: translateX(5px);
}

.contact-right img{
  width: 400px;
  transform: translateX(150px);
}

::-webkit-scrollbar {
  width: 4px;
   
  }
  
  ::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#ff6363, #6933ff);
  }

 